h1{
    color: red;
    width: 1px;
    font-size:40px ;
}
 
img{
    width: 160px;
}
 
 
 h2{   
    background: green;
    color: white;
 }
p{
    font-size: 20px;
}
p.new span{
    color: red;
}
    .block{
    font-size: 17px;
    width:125px ;
    height: 90px;
    background: blue;
    margin-bottom 100px;
    color:#fff ;
}

h2.new{
  height:100px ;
  padding-left:1cm;
}

.list li{
  border:2px solid black;
}

.box{
    background:green ;
    height: 10px;
}

