h1 {
    color: red; 
}
 
h2{   
    background: green;
    color: white;
}

p.new span{
    color: red;
}
    

.block{
    font-size: 17px;
    width:100px ;
    height: 100px;
    background: blue;
}

h2.new{
  height:100px ;
  padding-left:1cm;
}

.list li{
  border:2px solid black;
}

#block{
    padding-left: 1cm;
}

