h1{
    color: red;
    width: 1px;
    font-size:40px ;
}
 
img{
    width: 160px;
}
 
 
 h2{   
    background:#218d17;
    color: white;
 }
p{
    font-size: 20px;
}
p.new span{
    color: red;
}
    .block{
    font-size: 17px;
    width:125px ;
    height: 90px;
    background: rgb(71, 31, 180);
    color:#fff ;
    margin-bottom:100px ;
}

h2.new{
  padding:50px 1cm;
}

.list li{
  border:2px solid black;
  font-size: 30px;
}

.box{
    background:#218d17;
    height: 10px;
}

#block{
margin-left:2cm;

}